@charset "UTF-8";

body {
   	font-family:"맑은 고딕"; 
 	font-size: 17px;
}
h2 {font-size: 25px;}
h3 {font-size: 20px;}
h1 {
 	font-family:"궁서";
 	font-size: 30px;
 	letter-spacing: 15px;
}
.l:hover {text-decoration: underline;}
.ita {font-style: italic;}
.bold {font-weight: bold;}
.r {color : #ff0000;}
.b {color : #0000ff;}
.g {color : #00ff00;}
.dec-u {text-decoration: underline;}
ul {list-style-type: square;}
ol {list-style-type: none;} 
th {background-color: #c8ebfa;}
tbody>tr:hover {background-color: #EDD3ED;}
.txt-r {text-align: right;}    
.txt-r:before {content:"약";}
.txt-r:after {content:"(MB/초)";}
div {text-indent: 30px; background-color: #D9D9D9;}    
a:link {color: #000000; text-decoration: none;}
a:visited {color: #000000;}
a:hover {color: #0000ff; text-decoration: underline;}
a:active {color: #0000ff; text-decoration: underline;}

  